.ui.card{
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    /* margin-left: 40px; */
    overflow: hidden;
    
}
.ui.card img{
    max-width: 290px;
    box-sizing: border-box;
}
